header {
  width: 85%;
  margin: auto;
  .industry_info {
    .title {
      h4 {
        margin-bottom: 5px;
      }
    }
    .status {
      p {
        margin: 0;
      }
    }
  }
}
